{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    {% if sent %}
        <h3>Email successfully shared</h3>
        <p>
            "{{ post.title }}" has been successfully shared to {{ form.cleaned_data.to }}
        </p>
    {% else %}
        <div class="card m-3 shadow p-3 bg-body rounded">
        <h5 class="card-title">Share "{{ post.title }}" by email</h5>
            <div class="card-text">
                <form method="post" novalidate>
                    {{ form | crispy }}
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary" value="Send Email">
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}