<nav aria-label="pagination">
    <ul class="pagination justify-content-center">
        {% if page.has_previous %}
            <li class="page-item">
                <a href="?page={{ page.previous_page_number }}" class="page-link">Previous</a>
            </li>
        {% endif %}
        <span class="current">
            <li class="page-item pag">
                <a class="page-link" disabled="True">Page: {{ page.number }} of {{ page.paginator.num_pages }}</a>
            </li>
        </span>
        {% if page.has_next %}
            <li class="page-item">
                <a href="?page={{ page.next_page_number }}" class="page-link">Next</a>
            </li>
        {% endif %}
    </ul>
</nav>